# Ignore virtual environments
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.*

# VS Code settings
.vscode/

# macOS / Windows system files
.DS_Store
Thumbs.db
